@import url("common.css");
/* Estilo general para el body */
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden; /* Esto evita que la página tenga scroll */
  margin: 0 20px;
  width: calc(100% - 40px); /* Compensa el ancho para evitar overflow */
}

/* Contenedor principal */
.container {
  display: flex;
  gap: 20px;
}

/* Título centrado */
h2 {
  text-align: center;
  font-size: 2em;
  width: 100%;
  text-align: right;
}

/* Contenedor izquierdo */
.container-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 269px;
  border: solid var(--color-primario) 2px;
  border-radius: 20px;
  padding-bottom: 50px; /* Para evitar que el icono quede pegado */
  height: auto;
}


.circle {
  width: 87px;
  height: 87px;
  border-radius: 80%;
  /*border: 2px solid var(--color-primario);*/
  margin: 39px;
}

.container-left h3 {
  margin-bottom: 10px;
  color: var(--tertiary-color);
}

.container-left p {
  color: var(--second-color);
  margin-bottom: 60px;
}

.container-left ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 0;
}

.container-left ul li {
  font-size: 20px;
  padding: 10px 0;
  position: relative;
  transition: padding-left 0.3s; /* Agregamos transición para el padding */
}

.container-left ul li a {
  text-decoration: none;
  color: var(--tertiary-color);
  display: block;
  padding: 10px 20px;
}

/* Agregamos el pseudo-elemento para el efecto */
.container-left ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Comienza con el fondo invisible */
  height: 100%;
  background-color: var(--color-primario);
  color: var(--forty-color);
  transition: width 0.3s ease-out; /* Transición para el fondo */
  z-index: -1;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Efecto hover */
.container-left ul li:hover::after {
  width: 90%; /* El pseudo-elemento cubre el fondo */
}

.container-left ul li:hover {
  padding-left: 20px; /* Movimiento del contenido hacia la derecha */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.container-left ul li a:hover {
  text-decoration: none;
  color: var(--forty-color);
}

.container-left ul li a.active {
  position: relative; /* Necesario para que funcione el pseudo-elemento */
  color: var(--forty-color); /* Asegura que el texto tenga el mismo color */
  font-weight: bold; /* Si quieres que resalte más */
  z-index: 1; /* Para que el texto quede encima del fondo */
}

.container-left ul li a.active::after {
  content: "";
  position: absolute;
  top: 50%; /* Centra el fondo verticalmente */
  left: 0;
  width: 90%; /* Expande más en ancho */
  height: 146%; /* Reduce el crecimiento en altura */
  background-color: var(--color-primario); /* Usa el color del hover */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transform: translateY(-50%); /* Asegura que se mantenga centrado */
  z-index: -1; /* Envía el fondo detrás del texto */
  transition: all 0.3s ease-out; /* Suaviza la animación */
}

.menu a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #333;
  background-color: transparent; /* Color por defecto */
  transition: background-color 0.3s ease;
}

.menu a:hover,
.menu a.active { /* Aplica el hover y la clase activa */
  background-color: #007BFF; /* Color del hover y del enlace activo */
  color: white;
}



/* Cerrar sesión 
.logout {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 13px;
  display: inline-flex; 
  align-items: center;
  white-space: nowrap; 
  gap: 8px;
  color: var(--color-primario);
}



.logout i {
  font-size: 13px;
}*/


/* ----------------------------- */

/* Contenedor derecho */
.container-rigth {
  text-align: center;
  width: 100%;
  max-height: calc(
    100vh - 70px
  ); /* Ajusta según tu diseño, para dejar espacio para el título o el margen */
  border: solid var(--color-primario) 2px;
  border-radius: 20px;
  padding: 25px;
  overflow-y: auto; /* Esto agrega scroll solo en el eje vertical cuando sea necesario */
  height: auto;

}

/* Estilo para los usuarios */
.mostrar-users {
  display: flex;
  flex-wrap: wrap;

}

/* Estilo para los ciclos */
.mostrar-ciclos {
  display: flex;
  flex-wrap: wrap;

}

/* Estilo para los módulos */
.mostrar-modulos{
  display: flex;
  flex-wrap: wrap;

}

.container-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid var(--color-primario);
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 6%;
  margin-left: 6%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-crear{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -30px;
  justify-content: center;
}

.row-crear-guardar{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 8.5%;
  justify-content: right;
}


.row-guardar{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 3.5%;
  justify-content: right;
}

/*.container-rigth input {
  width: 90%;
}*/

.container-user .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.pic{
  border: 3px solid var(--color-primario);
  width: 87px;
  height: 87px;
  border-radius: 80%;
  margin-bottom: 10px;
}

.container-user p {
  margin: 5px 0;
}

/* Botones */
button {
  cursor: pointer;
}

form {
  display: inline-block;
}

.btnCreateUser {
  position: fixed;
  bottom: 10%;
  right: 16%;
  background-color: var(--color-primario);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 3rem;
  color: var(--forty-color);
  transition: transform 0s ease; /* Transición suave para el giro */
}

.btnCreateUser:hover {
  transform: rotate(360deg);
  background-color: var(--second-color);
}



.logout{
  color: var(--color-primario);
}


.logout:hover{
  color: var(--second-color);
}



.buscador {
  background-color: var(--forty-color);
  border: 2px solid var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;  
  color: var(--tertiary-color);  
  appearance: none;  
  cursor: pointer;  
  width: 78%;  
  height: 30px;
  position: relative;
}


.btnFiltrar {
  background-color: var(--color-primario);
  padding: 5px 5px;
  border-radius: 12px;
  border: none;
  font-size: 14px;  
  color: var(--forty-color);  
  appearance: none;  
  cursor: pointer;  
  width: 10%;  
  height: 30px;
}

.btnFiltrar:hover{
  background-color: var(--second-color);
}


.user-imagen{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-texto{
  width: 75%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.texto-nombre{
  font-size: 27px;
}
.texto-ciclo{
  font-size: 17px;
}

.user-botones{
  width: 9%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: white;
  border: 0px;
  margin-left: 20px;
}
.btn-delete{
  background-color: white;
  border: 0px;
  margin-left: 20px;
}

/*Botón de editar*/
.boton-icono-edit {
  width: 20px;  
  height: 20px;
}

.edit-hover{
  display: none;
  width: 20px;  
  height: 20px;
}

.btn:hover .edit-hover {
  display: inline-block;
}
.btn:hover .boton-icono-edit {
  display: none;
}


/*Boton de borrar*/
.boton-icono-delete{
  width: 20px;  
  height: 20px;
}

.delete-hover{
  display: none;
  width: 20px;  
  height: 20px;
}

.btn-delete:hover .delete-hover {
  display: inline-block;
}
.btn-delete:hover .boton-icono-delete {
  display: none;
}

.user-editar{
  width: 100%;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
}


.inputs-form {
  background-color: var(--forty-color);
  border: 2px solid var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;  
  color: var(--tertiary-color);  
  appearance: none;  
  cursor: pointer;  
  width: 29%;  
  height: 30px;
  position: relative;
  margin-right: 3%;
}

.inputs-form-color {
  background-color: var(--forty-color);
  border: 2px solid var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;  
  color: var(--tertiary-color);  
  appearance: none;  
  cursor: pointer;  
  width: 25%;  
  height: 40px;
  position: relative;
  margin: 20px;
}


.inputs-form-select {
  background-color: var(--forty-color);
  border: 2px solid var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;  
  color: var(--tertiary-color);
  cursor: pointer;  
  width: 29%;  
  height: 30px;
  position: relative;
  margin-right: 3%;
}

.inputs-form-add {
  background-color: var(--forty-color);
  border: 2px solid var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;  
  color: var(--tertiary-color);  
  appearance: none;  
  cursor: pointer;  
  width: 40%;  
  height: 30px;
  position: relative;
  margin: 20px;
}




.inputs-form-add-select {
  background-color: var(--forty-color);
  border: 2px solid var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;  
  color: var(--tertiary-color);
  cursor: pointer;  
  width: 40%;  
  height: 30px;
  position: relative;
  margin: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btnActualizar {
  background-color: var(--color-primario);
  padding: 5px 10px;
  border-radius: 12px;
  border: none;
  font-size: 16px;  
  color: var(--forty-color);  
  appearance: none;  
  cursor: pointer;  
  width: 140px;  
  height: 40px;
}


.btnActualizar:hover {
  background-color: var(--second-color);
}

p {
  color: var(--tertiary-color);
}



/* toltip de errores */
.tooltip-container {
  position: fixed; /* Fijo en pantalla */
  left: 20%;
  top: 80px; /* Ajusta la distancia desde arriba */
  transform: translateX(-50%);
  z-index: 9999; /* Aparece por encima de todo */
}

.error-tooltip {
  background-color: var(--color-primario);
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

/* Animación de desaparición */
.tooltip-container {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


/* width */
::-webkit-scrollbar {
  width: 20px;
}


/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-color: var(--color-primario);
  border-radius: 10px;
  margin: 5%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ebeeeb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ebeeeb; 
}